body {
    background-color: #d0d8e5;
}
.container {
    border: 1px solid rgb(190, 51, 250);
    width: 30%;
    border-radius: 8px;
    margin: 30px;
    padding-bottom: 14px;
}
input, button {
    margin: 15px 15px 5px 15px;
    height: 27px;
    width: 92%;
    margin-bottom: -7px;;
}

button {
    width: 93%;
}
h3 {
    margin-left: 30px;
    margin-bottom: -20px;
}
#n{
    height: 20px;
}
input[type=text]::placeholder {
    text-align: left;
    position: absolute;
    top: 5px;
    left: 2px;
}
#m{
    height: 100px;
}